.bg-nav-color{
    background-color:rgb(1, 101, 131);

}
html,body,nav{
    margin: 0;
    width: 100vw;
}

body{
    margin: 0 !important;
    width: 100vw;
    padding: 0 !important;
}
footer .card{
    background-color: rgb(79, 95, 104);
    border-radius: 0;
}
footer .card-body {
    height: 150px;
    text-align: center;
    color: rgba(255, 255, 255, 0.911) !important;
}
footer .card-body {
    color: rgba(255, 255, 255, 0.911) !important; 
    text-decoration: none;
}
footer .card-header{
    background-color: rgb(53, 60, 64) !important;
    text-align: center;

}
footer .card-header a{
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 20px;
}
footer .card-header a:hover{
    color:rgb(36, 153, 189)
}

main .row{
    padding: 0 120px !important; 

}

main h2{
    margin: 30px 100px 60px 100px;

}

    img.card-img-top-eventos{
        width: 40%;
        padding: 0 50px !important; 
        text-align: center;
    }

    main table, main table tr, main table tr td, main table th{
        border: 1px solid black;

    }
    main table th{
        padding: 5px !important;

    } 
        main table th{
        text-align: center;
    }
    main table td h3{
        text-align: center;

    } 
    main table{
        margin: 50px auto 100px auto;
    }
    main table tr{
        background-color: #eee;
        transition: ease 1s;
    }
    main table tr:hover{
        background-color: grey;
        cursor: pointer;
    }
    .titulo-tarifas{
        background-color: rgb(169, 197, 225);
    }
    
    main form{
        margin: 50px auto !important;
        width: 80% !important;
        padding: 10px;
        border: 1px solid silver;
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }
    main form textarea{
        resize: none; /*bloquear redimensionamento*/ 
    }

    main form button{
        display: block !important;
        margin: 20px auto !important;
    }
  
